<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>

    <div style="margin-bottom: 20px" data-bind="attr: {hidden: !isChecked() || logoUrl === null}" hidden>
        <img style="max-width: 100%" data-bind="attr: {src: logoUrl(), alt: $t('Factoring 0-0-4')}">
    </div>

    <div style="margin-bottom: 20px" data-bind="attr: {hidden: !isChecked() || description === null}, text: description()" hidden></div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div data-bind="attr: {hidden: agreementUrl() === null}" hidden>
                <label>
                    <input type="checkbox" data-bind="checked: termsChecked" required>
                    <!-- ko i18n: 'I have read and agree Factoring 0-0-4\'s ' --><!-- /ko -->
                    <a href="#" target="_blank" data-bind="attr: {href: agreementUrl()}, text: $t('terms and conditions')"></a>
                </label>

                <p style="margin: 1rem 0; color: red;" data-bind="attr: {hidden: termsChecked}, i18n: $t('You should agree the terms and conditions')" hidden></p>
            </div>

            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                            click: placeOrder,
                            attr: {title: $t('Place Order')},
                            css: {disabled: !isPlaceOrderActionAllowed()},
                            enable: (getCode() == isChecked() && (agreementUrl() ? termsChecked : true))
                        "
                        disabled>
                    <span data-bind="text: $t('Place Order')"></span>
                </button>
            </div>
        </div>
    </div>
</div>
