<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Config\Controller\Adminhtml\System\Config\Save"
                type="BnplPartners\Factoring004Magento\Controller\SaveConfig"/>

    <preference for="Magento\Shipping\Controller\Adminhtml\Order\Shipment\Save"
                type="BnplPartners\Factoring004Magento\Controller\SaveOrderShipment"/>

    <preference for="Magento\Sales\Controller\Adminhtml\Order\Creditmemo\Save"
                type="BnplPartners\Factoring004Magento\Controller\SaveCreditMemo"/>
</config>
