<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="bnplpartners_factoring004magento" translate="label comment" type="text" sortOrder="100"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Factoring 0-0-4</label>

                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                    <validate>required-entry</validate>
                </field>

                <field id="api_host" type="text" sortOrder="35" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>API Host</label>
                    <validate>required-entry validate-url</validate>
                </field>

                <field id="oauth_login" type="text" sortOrder="40" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>OAuth login</label>
                    <validate>required-entry</validate>
                </field>

                <field id="oauth_password" type="text" sortOrder="45" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>OAuth password</label>
                    <validate>required-entry</validate>
                </field>

                <field id="partner_name" type="text" sortOrder="50" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Partner Name</label>
                    <validate>required-entry</validate>
                </field>

                <field id="partner_code" type="text" sortOrder="55" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Partner Code</label>
                    <validate>required-entry</validate>
                </field>

                <field id="point_code" type="text" sortOrder="60" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Point Code</label>
                    <validate>required-entry</validate>
                </field>

                <field id="partner_email" type="text" sortOrder="65" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Partner Email</label>
                    <validate>required-entry validate-email</validate>
                </field>

                <field id="partner_website" type="text" sortOrder="70" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Partner Website</label>
                    <validate>required-entry validate-url</validate>
                    <backend_model>BnplPartners\Factoring004Magento\Model\PartnerWebsite</backend_model>
                </field>

                <field id="order_status" translate="label tooltip" type="select" sortOrder="85" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>New Order Status</label>
                    <source_model>BnplPartners\Factoring004Magento\Model\OrderStatus</source_model>
                    <validate>required-entry</validate>
                    <tooltip>Override default status for new orders</tooltip>
                </field>

                <field id="order_paid_status" translate="label" type="select" sortOrder="90" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Paid Order Status</label>
                    <source_model>BnplPartners\Factoring004Magento\Model\OrderStatus</source_model>
                    <validate>required-entry</validate>
                </field>

                <field id="order_declined_status" translate="label" type="select" sortOrder="95" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Declined Order Status</label>
                    <source_model>BnplPartners\Factoring004Magento\Model\OrderStatus</source_model>
                    <validate>required-entry</validate>
                </field>

                <field id="payment_gateway_type" translate="label" type="select" sortOrder="100" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Payment Gateway Type</label>
                    <source_model>BnplPartners\Factoring004Magento\Model\PaymentGatewayType</source_model>
                    <validate>required-entry</validate>
                </field>
            </group>
        </section>
    </system>
</config>
