<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="bnplpartners_factoring004magento" translate="label comment" type="text" sortOrder="100"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Factoring 0-0-4</label>

                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                    <validate>required-entry</validate>
                </field>

                <field id="description" translate="label" type="textarea" sortOrder="32" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Description</label>
                    <validate>required-entry</validate>
                </field>

                <field id="logo" translate="label comment" type="BnplPartners\Factoring004Magento\Form\LogoField" sortOrder="33" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Logo</label>
                    <backend_model>BnplPartners\Factoring004Magento\Model\Logo</backend_model>
                    <upload_dir config="system" scope_info="1">factoring004</upload_dir>
                    <base_url type="media" scope_info="1">factoring004</base_url>
                    <comment>Extensions: jpg, jpeg, gif, png</comment>
                </field>

                <field id="api_host" type="text" sortOrder="35" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>API Host</label>
                    <validate>required-entry validate-url</validate>
                </field>

                <field id="oauth_preapp_token" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>OAuth Preapp Token</label>
                    <validate>required-entry</validate>
                </field>

                <field id="oauth_accounting_service_token" type="textarea" sortOrder="45" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>OAuth Accounting Service Token</label>
                    <validate>required-entry</validate>
                </field>

                <field id="partner_name" type="text" sortOrder="50" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Partner Name</label>
                    <validate>required-entry</validate>
                </field>

                <field id="partner_code" type="text" sortOrder="55" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Partner Code</label>
                    <validate>required-entry</validate>
                </field>

                <field id="point_code" type="text" sortOrder="60" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Point Code</label>
                    <validate>required-entry</validate>
                </field>

                <field id="partner_email" type="text" sortOrder="65" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Partner Email</label>
                    <validate>required-entry validate-email</validate>
                </field>

                <field id="partner_website" type="text" sortOrder="70" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Partner Website</label>
                    <validate>required-entry validate-url</validate>
                    <backend_model>BnplPartners\Factoring004Magento\Model\PartnerWebsite</backend_model>
                </field>

                <field id="agreement_file" translate="label comment" type="file" sortOrder="75" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Agreement File</label>
                    <backend_model>BnplPartners\Factoring004Magento\Model\AgreementFile</backend_model>
                    <upload_dir config="system" scope_info="1">factoring004</upload_dir>
                    <base_url type="media" scope_info="1">factoring004</base_url>
                    <comment>Upload an agreement PDF file if you need to show it a customer</comment>
                </field>

                <field id="order_status" translate="label tooltip" type="select" sortOrder="85" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>New Order Status</label>
                    <source_model>BnplPartners\Factoring004Magento\Model\OrderStatus</source_model>
                    <validate>required-entry</validate>
                    <tooltip>Override default status for new orders</tooltip>
                </field>

                <field id="order_paid_status" translate="label" type="select" sortOrder="90" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Paid Order Status</label>
                    <source_model>BnplPartners\Factoring004Magento\Model\OrderStatus</source_model>
                    <validate>required-entry</validate>
                </field>

                <field id="order_declined_status" translate="label" type="select" sortOrder="95" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Declined Order Status</label>
                    <source_model>BnplPartners\Factoring004Magento\Model\OrderStatus</source_model>
                    <validate>required-entry</validate>
                </field>

                <field id="payment_gateway_type" translate="label" type="select" sortOrder="100" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Payment Gateway Type</label>
                    <source_model>BnplPartners\Factoring004Magento\Model\PaymentGatewayType</source_model>
                    <validate>required-entry</validate>
                </field>
            </group>
        </section>
    </system>
</config>
